[Unit]
Description=PaaS Worker Agent Daemon
After=network-online.target docker.service 
Wants=network-online.target 
Requires=docker.service

[Service]
Type=simple
User=root
WorkingDirectory=/opt/agent
ExecStart=/usr/bin/node /opt/agent/src/index.js
Restart=always
RestartSec=3s

EnvironmentFile=/etc/paas-agent/agent.env

[Install]
WantedBy=multi-user.target