PORT=your_port_to_run_server_local

DB_URI_SERVER=your_server_database_connection_string_here

JWT_SECRET=your_jwt_secret_key_here
CBC_SECRET=your_cbc_secret_key_here

GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret
GITHUB_CALLBACK_URL=your_gitHub_callback_endpoint

GITHUB_URL_API=https://api.github.com
GITHUB_URL=https://github.com

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

CLIENT_URL_DEV=http://localhost:4001
CLIENT_URL_PROD=https://your-app-domain.com
