[Unit]
Description=PaaS Worker Agent Daemon
After=network.target docker.service
Requires=docker.service

[Service]
Type=simple
User=root
WorkingDirectory=/opt/agent
ExecStart=/usr/bin/node /opt/agent/index.js
Restart=always
RestartSec=3s

# Các biến môi trường để Agent nhận biết Master Server và ID của chính nó
Environment=MASTER_URL=http://192.168.1.18:8000
Environment=WORKER_ID=worker-node-01
Environment=AGENT_VERSION=1.0.0

[Install]
WantedBy=multi-user.target